@{
    Layout = "_Layout";
}
<div class="text-center">
    <h1>Welcome to ManageEmployee</h1>
    <p class="lead">Choose an action below</p>

    <div class="d-grid gap-2 col-6 mx-auto">
        <a class="btn btn-primary btn-lg" href="/Employee">Employee List</a>
        <a class="btn btn-secondary btn-lg" href="/Title">Title List</a>
        <a class="btn btn-success btn-lg" href="/Employee/Add">Add Employee</a>
    </div>
</div>
